body {
  text-align: center;
  background-color: white;
  color: black;
  font-family: Tahoma, Verdana, sans-serif;
}


th {
  height: 25px;
  border-radius: 105px;
  border: 5px #04AA6D;
  border-style: solid;
  font-size: 40px; 
  background-color: #04AA6D;
  color: white;
}

td {
  border-radius: 25px;
  width: 200px;
  height: 200px;
  border: 2px solid;
  transition: transform 1s ease-in;
  transform-style: preserve-3d;
  transition-delay: 0.5s;
}

button {
  background-color: #4CAF50; /* Green */
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

table{
  margin: auto;
}

.side-a, .side-b {
    backface-visibility: hidden;
    border-radius: 25px;
    border: 0px solid black;
    Width: 200px;
}

.side-b {transform: rotateY(180deg);
    Position: absolute;
    Top: 60px;
}

td.flipped {
  transform: rotateY(180deg);
}

.side-a {
   Position: relative;
}
